Challenges/Challenge 2/Node_red_flow_JSON.txt
[{"id":"57ea9767.92a3c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"558123cf.a2c63c","type":"mqtt in","z":"57ea9767.92a3c","name":"id_code_generator","topic":"polimi/challenge_2/2023/id_code_generator","qos":"2","broker":"d3fa694e.2660b","x":200,"y":280,"wires":[["ab38d7d2.8ad3b8","af10c460.8bcdf"]]},{"id":"af10c460.8bcdf","type":"function","z":"57ea9767.92a3c","name":"rnd id processing","func":"tot_msg = flow.get(\"tot_msg\")\nperson_code = flow.get(\"person_code\")\n\nif (flow.get(\"running\")!==undefined && flow.get(\"running\")){\n    tot_id = flow.get(\"tot_id\")\n    counter = flow.get(\"counter\")\n    \n    if(msg.payload!==\"\"){\n        id = Number(JSON.parse(msg.payload).id)\n        flow.set(\"rnd_id\", id)\n        id += person_code\n        rem = id % tot_msg\n        flow.set(\"rnd_id_mod\", rem)\n        counter++\n        flow.set(\"counter\", counter)\n        if (counter===0){\n            // send \"START\"\n            payload = \"START\"\n        }\n        if (counter>0 && counter<=tot_id){\n            payload = rem\n        }\n        if (counter>tot_id){\n            // send \"END\"\n            payload = \"END\"\n            flow.set(\"running\", false)\n        }\n        res = payload\n    } else {\n        res = msg.payload\n    }\n    return {payload: res}\n}\n\n","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["d348b5dc.4de438","ab928ad2.e453a"]]},{"id":"a1e869f4.b0a968","type":"debug","z":"57ea9767.92a3c","name":"debug reset","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":840,"y":440,"wires":[]},{"id":"85ea5b3d.8e53f8","type":"csv","z":"57ea9767.92a3c","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":730,"y":160,"wires":[["52e50a1f.53ac9c"]]},{"id":"4ce9c509.5d6704","type":"file in","z":"57ea9767.92a3c","name":"challenge2023_2.csv","filename":"/home/user/Desktop/Challenge/Ch2/challenge2023_2.csv","format":"utf8","chunk":false,"sendError":false,"x":550,"y":160,"wires":[["85ea5b3d.8e53f8"]]},{"id":"52e50a1f.53ac9c","type":"function","z":"57ea9767.92a3c","name":"csv parsing","func":"PUBLISH = \"Publish Message\"\n\npkt = msg.payload\n\nnum_pkt = pkt.col1\nmsg_types = pkt.col9\nif (pkt.hasOwnProperty(\"col10\")){\n    msgs = pkt.col10\n} else {\n    msgs = \"\"\n}\n\nidx_pub = flow.get(\"idx_pub\")\n// parsing\nmsg_types = msg_types.split(\",\")\nmsgs = msgs.replace(/,{/g,\"${\")\nmsgs = msgs.split(\"$\")\n\npub = 0\n// filter only pub messages\nfor (let i=0; i<msg_types.length; i++){\n    if(msg_types[i].includes(PUBLISH)){\n        nums = flow.get(\"nums\")\n        nums[idx_pub] = num_pkt\n        flow.set(\"nums\", nums)\n        \n        pub_msgs = flow.get(\"pub_msgs\")\n        pub_msgs[idx_pub] = msgs[i]\n        flow.set(\"pub_msgs\", pub_msgs)\n        \n        idx_pub ++\n        flow.set(\"idx_pub\", idx_pub)\n        \n        pub = 1\n    }\n}\n\nif(pub==1){\n    flow.set(\"pub_count\", flow.get(\"pub_count\")+1)\n} else {\n    flow.set(\"non_pub_count\", flow.get(\"non_pub_count\")+1)\n}\n\n","outputs":1,"noerr":0,"x":870,"y":160,"wires":[["d348b5dc.4de438"]]},{"id":"ab38d7d2.8ad3b8","type":"function","z":"57ea9767.92a3c","name":"load csv","func":"if (flow.get(\"running\")!=undefined &&\n        flow.get(\"running\") &&\n        !flow.get(\"csv_parsed\")){\n    flow.set(\"csv_parsed\", true)\n    return msg\n}\n","outputs":1,"noerr":0,"x":360,"y":160,"wires":[["4ce9c509.5d6704"]]},{"id":"d348b5dc.4de438","type":"function","z":"57ea9767.92a3c","name":"re-pubs creation","func":"counter = flow.get(\"counter\")\ntot_id = flow.get(\"tot_id\")\n\nif(counter<=0 || counter>tot_id){\n    return msg\n}\n\nif(counter>0 && counter<=tot_id){\n    nums = flow.get(\"nums\")\n    rnd_id_mod = flow.get(\"rnd_id_mod\")\n    new_pubs = []\n    idx = 0\n    \n    match = 0\n    for (let i=0; i<nums.length; i++){\n        if(nums[i]==rnd_id_mod){\n            date = new Date()\n            curr_timestamp = date.getTime()\n            \n            prev_id = flow.get(\"rnd_id\")\n            \n            pub_msgs = flow.get(\"pub_msgs\")\n            old_payload = pub_msgs[i]\n            \n            new_pub = {\n                timestamp: curr_timestamp,\n                id: prev_id,\n                payload: old_payload\n            }\n            \n            new_pubs[idx] = new_pub\n            flow.set(\"matched_pub_count\", flow.get(\"matched_pub_count\")+1)\n            idx ++\n            match = 1\n        }\n    }\n    \n    if(match!=1){\n        flow.set(\"non_matched_pub_count\", flow.get(\"non_matched_pub_count\")+1)\n    }\n    \n    if(idx>0){\n        payload = new_pubs\n        \n        res = { payload: payload}\n        return res\n    }\n}\n","outputs":1,"noerr":0,"x":1030,"y":280,"wires":[["1d80ad32.05a1fb"]]},{"id":"786f6f8a.4f212","type":"mqtt in","z":"57ea9767.92a3c","name":"self pub","topic":"/polimi/iot2023/challenge2/10581197","qos":"2","broker":"d3fa694e.2660b","x":380,"y":600,"wires":[["60d619ae.24a3f8"]]},{"id":"f0fafe36.192af8","type":"mqtt out","z":"57ea9767.92a3c","name":"re-pubs","topic":"/polimi/iot2023/challenge2/10581197","qos":"","retain":"","broker":"d3fa694e.2660b","x":1560,"y":300,"wires":[]},{"id":"bf02d8c6.43f8f","type":"split","z":"57ea9767.92a3c","name":"split multiple publish","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1400,"y":220,"wires":[["f0fafe36.192af8"]]},{"id":"60d619ae.24a3f8","type":"function","z":"57ea9767.92a3c","name":"filter Celsius","func":"UNIT = \"unit\"\nC = \"C\"\nRANGE = \"range\"\n\ncounter = flow.get(\"counter\")\ntot_id = flow.get(\"tot_id\")\nif(counter>0 && counter<=tot_id){\n    pub_msg = JSON.parse(msg.payload)\n    if(pub_msg.payload.length>0){\n        payload_fields = JSON.parse(pub_msg.payload)\n        if(payload_fields[UNIT]==C){\n            plot_value = payload_fields[RANGE][1]\n            res = [plot_value, pub_msg.payload]\n            \n            flow.set(\"celsius_count\", flow.get(\"celsius_count\")+1)\n            return {payload: res}\n        } else {\n            flow.set(\"non_celsius_count\", flow.get(\"non_celsius_count\")+1)\n            res = pub_msg.payload\n        }\n    } else {\n        flow.set(\"non_celsius_count\", flow.get(\"non_celsius_count\")+1)\n        res = pub_msg.payload\n    }\n}","outputs":1,"noerr":0,"x":600,"y":600,"wires":[["8eb39777.b91b","f968fefc.523b"]]},{"id":"ef0ad890.ff5f7","type":"ui_chart","z":"57ea9767.92a3c","name":"","group":"44fcb118.b2e1b","order":0,"width":"0","height":"0","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1060,"y":600,"wires":[[],[]]},{"id":"edfe4478.8e715","type":"csv","z":"57ea9767.92a3c","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"description,type,unit,range,lat,long","skip":"0","x":990,"y":700,"wires":[["4533efd5.c5999"]]},{"id":"353050e3.85df6","type":"function","z":"57ea9767.92a3c","name":"reset flow vars","func":"flow.set(\"tot_id\", 100)\nflow.set(\"tot_msg\", 7711)\nflow.set(\"person_code\", 1197)\n\nif(flow.get(\"running\")!==undefined){\n    if(!flow.get(\"running\")){\n        flow.set(\"nums\", [])\n        flow.set(\"pub_msgs\", [])\n        flow.set(\"idx_pub\", 0)\n        flow.set(\"csv_parsed\", false)\n        flow.set(\"counter\", -1)\n        \n        // debug variables\n        flow.set(\"non_pub_count\", -1)//first row = names of columns (no packet)\n        flow.set(\"pub_count\", 0)\n        flow.set(\"non_matched_pub_count\", 0)\n        flow.set(\"matched_pub_count\", 0)\n        flow.set(\"non_celsius_count\", 0)\n        flow.set(\"celsius_count\", 0)\n    }\n    flow.set(\"running\", !flow.get(\"running\"))\n} else {\n    flow.set(\"nums\", [])\n    flow.set(\"pub_msgs\", [])\n    flow.set(\"idx_pub\", 0)\n    flow.set(\"csv_parsed\", false)\n    flow.set(\"counter\", -1)\n    \n    // debug variables\n    flow.set(\"non_pub_count\", -1)//first row = names of columns (no packet)\n    flow.set(\"pub_count\", 0)\n    flow.set(\"non_matched_pub_count\", 0)\n    flow.set(\"matched_pub_count\", 0)\n    flow.set(\"non_celsius_count\", 0)\n    flow.set(\"celsius_count\", 0)\n    \n    flow.set(\"running\", true)\n}\nreturn {payload: \"running: \" + flow.get(\"running\")}\n","outputs":1,"noerr":0,"x":580,"y":440,"wires":[["a1e869f4.b0a968","7877a71c.2f8d7"]]},{"id":"3bbb3c8a.9c6614","type":"inject","z":"57ea9767.92a3c","name":"RESET","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":440,"wires":[["353050e3.85df6"]]},{"id":"1d80ad32.05a1fb","type":"switch","z":"57ea9767.92a3c","name":"","property":"counter","propertyType":"flow","rules":[{"t":"btwn","v":"1","vt":"num","v2":"tot_id","v2t":"flow"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1220,"y":280,"wires":[["bf02d8c6.43f8f"],["f0fafe36.192af8"]]},{"id":"ab928ad2.e453a","type":"function","z":"57ea9767.92a3c","name":"debug running","func":"if(!flow.get(\"running\")){\n    debug_msg = [\n        \"running: \" + flow.get(\"running\"),\n        \"total packets: \" + flow.get(\"tot_msg\") + \", pub packets: \" + flow.get(\"pub_count\") + \", non pub packets: \" + flow.get(\"non_pub_count\"),\n        \"total Publish Message: \" + flow.get(\"nums\").length,\n        \"total rnd id received: \" + flow.get(\"tot_id\") + \", id-matched messages: \" + flow.get(\"matched_pub_count\") + \", non id-matched messages: \" + flow.get(\"non_matched_pub_count\"),\n        \"celsius messages published: \" + flow.get(\"celsius_count\") + \", non celsius messages published: \" + flow.get(\"non_celsius_count\")\n        ]\n} else {\n    debug_msg = \"round: \" + flow.get(\"counter\")\n}\nreturn {payload: debug_msg}\n\n","outputs":1,"noerr":0,"x":740,"y":360,"wires":[["e97d2184.f7de58"]]},{"id":"fabfa708.daac58","type":"debug","z":"57ea9767.92a3c","name":"debug running","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1080,"y":360,"wires":[]},{"id":"f968fefc.523b","type":"function","z":"57ea9767.92a3c","name":"save","func":"res = JSON.parse(msg.payload[1])\nreturn {payload: res}","outputs":1,"noerr":0,"x":830,"y":700,"wires":[["edfe4478.8e715"]]},{"id":"8eb39777.b91b","type":"function","z":"57ea9767.92a3c","name":"plot","func":"return {payload: msg.payload[0]}","outputs":1,"noerr":0,"x":830,"y":600,"wires":[["ef0ad890.ff5f7"]]},{"id":"4533efd5.c5999","type":"file","z":"57ea9767.92a3c","name":"10581197_10583298.csv","filename":"/home/user/Desktop/Challenge/Ch2/10581197_10583298.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","x":1220,"y":700,"wires":[[]]},{"id":"e97d2184.f7de58","type":"delay","z":"57ea9767.92a3c","name":"debug wait","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":910,"y":360,"wires":[["fabfa708.daac58"]]},{"id":"7877a71c.2f8d7","type":"function","z":"57ea9767.92a3c","name":"reset chart","func":"if(flow.get(\"running\")){\n    return {payload: []}\n}","outputs":1,"noerr":0,"x":830,"y":520,"wires":[["ef0ad890.ff5f7"]]},{"id":"d3fa694e.2660b","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"44fcb118.b2e1b","type":"ui_group","z":"","name":"Default","tab":"f1a4c78b.7cfa88","disp":true,"width":"6","collapse":false},{"id":"f1a4c78b.7cfa88","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]